.container {
  display: flex;
  font-family: "Poppins";
}

.sidebar {
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  /* overflow-y: auto;  */
}

.analysis {
  margin-left: 250px;
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
}

.title {
  font-size: 2.75rem;
  color: #5076ff;
  font-weight: 600;
}

.questions{
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}
.questionContent{
    font-size: 2rem;
}

.statCards{
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.stat :first-child{
    font-size: 3rem;
}
.stat{
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}